body {
  background-color: rgb(5, 0, 36);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  font-family: 'pt sans';
  color: white;
  box-sizing: border-box;
}

.row {
  margin: 0 65px;
}

a {
  text-decoration: none;
}

.home__main img {
  pointer-events: none;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: calc(100% - 130px);
}

nav div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__logo {
  font-size: 22px;
  margin-right: 32px;
  letter-spacing: 0.4;
  font-weight: 600;
}

.nav__link {
  color: white;
  margin: 0 6px;
  padding: 12px 18px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.nav__link:hover {
  background-color: white;
  color: rgb(5, 0, 36);
}

.nav__link--selected {
  background-color: rgba(73, 77, 88, 0.644);
  box-shadow: 0 5px 20px -5px rgb(100, 105, 122) inset;
}

.nav__profile--side div {
  margin-left: 18px;
}

.nav__profile {
  background: rgb(54, 68, 107);
  border-radius: 999px;
  height: 36px;
  width: 36px;
}

.nav__join-prime {
  background-color: rgb(32, 145, 221);
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  box-shadow: 0 0 25px -10px rgb(32, 145, 221);
  transition: box-shadow 0.2s ease;
  letter-spacing: 1.3px;
}

.nav__join-prime:hover {
  box-shadow: 0 0 25px -2px rgb(32, 145, 221);
}






.home__movie--img {
  height: 300px;
  width: 205px;
  margin-top: 0;
  opacity: 0.75;
}

.home__background--display {
  position: fixed;
  top: -240px;
  left: -120px;
  display: flex;
  flex-wrap: wrap;
  width: 140%;
  height: 120%;
  transform: rotate(-12deg);
  z-index: -2;
}

.home__background--gradient {
  background: radial-gradient(at right center, rgba(5, 0, 36, 0), rgba(5, 0, 36, 0.8));
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 10px 0 90px 10px rgb(5, 0, 36) inset, 90px 20px 90px -90px rgb(5, 0, 36) inset;
}

.home__browse {
  position: absolute;
  top: 80vh;
  left: 0;
  width: 100%;
  height: 200vh;
  background-color: rgb(5, 0, 36);
}

.home__browse::before {
  content: '';
  background: linear-gradient(0deg, rgba(5, 0, 36), rgba(5, 0, 36, 0.521), #FFFFFF00);
  height: 80px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 100%;
}

.home__more--details {
  position: absolute;
  bottom: calc(20% + 52px);
  left: 65px;
  padding: 16px 24px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.1s ease;
  background-color: rgba(73, 77, 88, 0.644);
  box-shadow: 0 5px 20px -5px rgb(100, 105, 122) inset;
  z-index: 1;
  cursor: pointer;
}

.home__more--details:hover {
  background: white;
  color:rgb(5, 0, 36);
}

.home__logo {
  position: absolute;
  bottom: calc(20% + 100px);
  max-width: 500px;
  filter: saturate(0%) brightness(1000%);
}





.movie__list--container {
  margin: 24px 0px 24px 65px;
}

.movie__list--title {
  font-size: 22px;
  margin-bottom: 20px;
}

.movie__list--movies {
  display: flex;
}

.movie__list--movies img {
  height: 210px;
  width: 140px;
  margin-right: 32px;
  object-fit: cover;
  cursor: pointer;
}